@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@import 'tailwindcss';

@theme {
    --font-primary: 'Josefin Sans', sans-serif;
    --color-primary: #1E40AF;
    --color-dark: #111827;
    --color-lighter: #9CA3AF;
    --color-light: #F3F4F6;
}